[Desktop Entry]
Version=1.0
Name=openGWMail
Comment=The missing desktop client for Gmail and Google Inbox
Exec=/opt/opengwmail/openGWMail --mailto=%u
Icon=/opt/opengwmail/icon.png
MimeType=x-scheme-handler/mailto;
Terminal=false
Type=Application
Categories=Application;Network;Email
