[Desktop Entry]
Name=openGWMail
Comment=openGWMail Email
Exec=opengwmail
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/app.png
Categories=GNOME;GTK;Network
StartupWMClass=openGWMail
